body,
.calculator,
.screen {
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
  height: 100vh;
}

.calculator {
  align-items: center;

  width: 400px;
  margin: 100px 0 0 0px;
  border-radius: 15px;
  padding: 20px;
  gap: 20px;
  background-color: rgb(153, 153, 153);
  border: 2px solid rgb(58, 58, 58);
}

.screen {
  box-sizing: border-box;
  justify-content: space-between;
  align-items: flex-end;
  word-break: break-all;

  width: 100%;
  height: 150px;
  padding: 10px;
  border-radius: 5px;
  font-size: 60px;
  border: 2px solid rgb(58, 58, 58);
  background-color: aliceblue;
}

.previousScreen,
.currentScreen {
  padding: 0 20px;
  font-size: 50px;
}

.previousScreen {
  font-size: 30px;
}

.btnGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;

  width: 100%;
}

.btn {
  height: 70px;
  border-radius: 5px;

  font-size: 20px;
  border: 2px solid rgb(58, 58, 58);
}

.btnOperators {
  background-color: rgb(255, 162, 40);
}

.btnTop {
  color: rgb(255, 255, 255);
  background-color: rgb(97, 97, 97);
}

.btnZero {
  grid-column: span 2;
}

/* Button Hover */
.btn:hover {
  cursor: pointer;
}

.btnTop:hover {
  background-color: rgb(70, 70, 70);
}
  
.btn#number:hover {
  background-color: rgb(184, 184, 184);
}

.btnOperators:hover {
  background-color: rgb(230, 125, 28);
}

.btn#decimal:hover{
    background-color: rgb(184, 184, 184);
}

/* Button click */
.btnTop:active {
  background-color: rgb(36, 36, 36);
}
  
.btn#number:active {
  background-color: rgb(145, 145, 145);
}

.btnOperators:active {
  background-color: rgb(206, 110, 21);
}

.btn#decimal:active {
  background-color: rgb(151, 151, 151);
}

.footer {
  height: 25px;
  width: auto;
  margin: auto 0 10px 0;
  padding: 5px 0 0 0;;
  font-size: 20px;
}

#gh-logo {
  height: 20px;
}
